<h1>Pipes Básicos</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Iusto soluta sint sunt rem corrupti, qui est dicta nam itaque magnam,
    nesciunt unde delectus? Praesentium tempora similique dolores cum quod quidem.
</p>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower | uppercase">
                {{ nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                [subheader]="nombreLower | lowercase">
                {{ nombreLower | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                [subheader]="nombreCompleto | titlecase">
                {{ nombreCompleto | titlecase}}
        </p-card>
    </div>
</div>

<h1>Pipes Date</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Iusto soluta sint sunt rem corrupti, qui est dicta nam itaque magnam,
    nesciunt unde delectus? Praesentium tempora similique dolores cum quod quidem.
</p>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li> fecha |date   </li>
                <li> fecha |date : 'medium'  </li>
                <li> fecha |date : 'long'  </li>
                <li> fecha |date : 'short'  </li>
                <li> fecha |date : 'custom'  </li>
            </ul>
            <hr>
            <ul>
                <li> fecha |date : 'long':'GMT-6' </li>
                <li> fecha |date : 'long':'GMT-6':'EN'  </li>
            </ul>
        </p-card> 
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li> {{fecha}} </li>
                <li> {{fecha |date }}  </li>
                <li> {{fecha |date : 'medium' }}  </li>
                <li> {{fecha |date : 'long' }}  </li>
                <li> {{fecha |date : 'EEEE dd/LL/yyyy' }}  </li>
            </ul>
            <hr>
            <ul>
                <li> {{fecha |date : 'long':'GMT-6' }}  </li>
                <li> {{fecha |date : 'long':'GMT-6':'EN' }}  </li>
            </ul>
        </p-card> 
    </div>
</div>